:root {
  --ruler: 16px;
  --color-red: #ae1100;
  --color-bg: #ebecf0;
  --color-text-project: #61677C;
  --color-shadow: #babecc;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body, html {
  background-color: var(--color-bg);
}

body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--ruler);
}

div, 
p, 
h2 {
  color: var(--color-shadow);
  text-shadow: 1px 1px 1px var(--color-white);
}


form {
  padding: var(--ruler);
  margin: 0 auto;
}

.segment {
  padding: calc(var(--ruler) * 2) 0;
  text-align: center;
}

button, 
input, 
textarea {
  border: 0;
  outline: 0;
  font-size: var(--ruler);
  border-radius: calc(var(--ruler) * 20);
  padding: var(--ruler);
  background-color:var(--color-bg);
  text-shadow: 1px 1px 0 var(--color-white);
}

textarea {
  border-radius: var(--ruler);
  resize: none;
}

label {
  display: block;
  margin-bottom: calc(var(--ruler) * 1.5);
  width: 100%;
}

input,
textarea {
  margin-right: calc(var(--ruler / 2));
  box-shadow:  inset 2px 2px 5px var(--color-shadow), inset -5px -5px 10px var(--color-white);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input:focus,
textarea:focus {
  box-shadow:  inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
}

button {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-shadow);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
}

button:active {
  box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
}

button.red {
  display: block;
  width: 100%;
  color:var(--color-red);
}

.projects {
  margin: 1rem;
  border-radius: var(--radius);
  box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
  overflow: hidden;
}

.projects header {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.projects h2 {
  margin-bottom: 0;
}

#app {
  max-width: calc(var(--ruler) * 35);
  margin: 0 auto;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 0 var(--ruler) var(--ruler);
}

.projects li {
  box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
  padding: var(--ruler);
  margin: var(--ruler);
  cursor: grab;
}

.projects li:active {
  cursor: move;
}

.projects li h2 {
  color: var(--color-text-project);
  margin: calc(var(--ruler) / 2) 0;
}

.projects li h3 {
  color: var(--color-text-project);
  font-size: var(--ruler);
}

.projects li p {
  color: var(--color-text-project);
  margin: 0;
}

.droppable {
  background-color: rgba(0, 0, 0, 0.1);
}

#finished-projects .droppable {
  background-color: rgba(0, 0, 0, 0.1);
}

#user-input {
  background-color: var(--color-bg);
}
